body
  position relative
  height 100%

.main
  display block
  background #FFF
  color #555
  font-family monospace
  padding 1em

.enter
  position fixed
  top 0
  left 0; background:url(../img/intro.jpg) no-repeat center center fixed
  -moz-background-size cover
  background-size cover
  display block
  width 100%
  height 100%
  -webkit-box-shadow inset 0 0 0em 80em rgba(255, 255, 255, 0.78)
  -moz-box-shadow inset 0 0 0em 80em rgba(255, 255, 255, 0.78)
  box-shadow inset 0 0 0em 80em rgba(255, 255, 255, 0.78)
  z-index 100

.enter_btn
  position absolute
  top 0
  left 0
  width 100%
  margin 20% auto
  text-align center
  font-family monospace
  text-decoration none
  text-transform capitalize
  font-size 2.2em
  color #646464
  text-shadow 0 -1000px 30px #F02820
  -webkit-transition all 2s ease-in-out
  -moz-transition all 2s ease-in-out
  -o-transition all 2s ease-in-out
  transition all 2s ease-in-out
  -webkit-animation textShadow 2s 1 ease
  -moz-animation textShadow 2s 1 ease
  -ms-animation textShadow 2s 1 ease
  -o-animation textShadow 2s 1 ease
  animation textShadow 2s 1 ease
  &:hover
    text-shadow 0 1px 1px #333
    color #f55
    transition all 1.5s ease-in-out

@-webkit-keyframes
  textShadow
    0%{color white
  thiswidth
    0%{width 0%
  thisshow
    0%{color #fff

}
  @keyframes
    textShadow
      0%{color white
    thiswidth
      0%{width 0%
    thisshow
      0%{color #fff
  .divider
    position absolute
    top 0
    left 0
    width 100%
    background #A7A7A7
    height 1px
    margin 25% auto
    -webkit-animation thiswidth 5s ease
    -moz-animation thiswidth 5s ease
    -ms-animation thiswidth 5s ease
    -o-animation thiswidth 5s ease
    animation thiswidth 5s ease
  .copyright
    position absolute
    top 0
    left 0
    width 100%
    margin 27% auto
    text-align center
    font-family monospace
    text-transform capitalize
    color #797777
    -webkit-animation thisshow 6s ease
    -moz-animation thisshow 6s ease
    -ms-animation thisshow 6s ease
    -o-animation thisshow 6s ease
    animation thisshow 6s ease
  .showme
    -webkit-box-shadow inset 0 0 0em 0em white
    -moz-box-shadow inset 0 0 0em 0em white
    box-shadow inset 0 0 0em 0em white
    -webkit-transition all 2s ease-in-out
    -moz-transition all 2s ease-in-out
    -o-transition all 2s ease-in-out
    transition all 2s ease-in-out

.hideme
  top -200%
  -webkit-transition all 2s ease-in-out
  -moz-transition all 2s ease-in-out
  -o-transition all 2s ease-in-out
  transition all 2s ease-in-out

pre,code
  font-family consolas, courier, monospace
  padding 5px
  margin 0

@media
  screen
    and
      (max-width
        &:
          500px)
            .enter_btn{
    top 200px

.divider
  top 220px

.copyright
  top 220px

