@import url(http://fonts.googleapis.com/css?family=Satisfy)
@import url(http://fonts.googleapis.com/css?family=BenchNine:300,400,700&subset=latin,latin-ext)
@import url(http://fonts.googleapis.com/css?family=Dancing+Script)

@import 'normalize.css'
body
	font-size 16px
// MENU
.imagen-container
	margin 0
.nav li:hover
	border-bottom 3px solid green
	
.navbar-nav > li > a:hover
	color white
.logo
	width 50px
	margin-left 20px

// PORTADA
.Portada
	margin-top 52px
	height 200px
	// background #000000
	// background url(../img/cover_iMac1.jpg)
	// background-size cover
	&-col
		padding-right 0
	&-fondo
		filter blur(2px)
		width 100%
		z-index -100
	&-container-logo
		padding 0
	&-fondoContainer
		margin 0
	&-frase
		position absolute
		top 100px
		right 8px
		color white
		display inline-block
		font-family 'Satisfy', cursive
		font-weight bold
		font-size .8em
		text-align center
		margin 0
	&-logo
		position absolute
		top 20px
		right 30px
		width 80px
//FIN PORTADA

// WORK
.Work
	&-article
		height 200px
		text-align center
	&-title
		text-transform uppercase
		font-weight bold
		font-family 'BenchNine', sans-serif
		font-size 1.5em
		text-align center
	&-text
		text-align center

// FIN DE WORK

// MI ESPECIALIDAD
.sinpadding
	padding 0
.Esp
	&-article
		padding 1.5em
		background #3A3B44
		text-align center
	&-firma
		margin 0
		color white
		font-family 'Dancing Script', cursive
	&-title
		text-transform uppercase
		color white
		font-weight bold
		font-family 'BenchNine', sans-serif
		font-size 1.5em
		text-align center
	&-text
		padding-bottom 1em
		color #9c9c9c
		border-bottom 2px solid white
	&-logo
		width 50px
// FIN DE ESPECILDAD

// DISEÑO
.Design
	width 100%
	text-align center
	&-title
		text-transform uppercase
		font-weight bold
		font-family 'BenchNine', sans-serif
		font-size 1.5em
		text-align center
	&-text
		font-size .7em
	&-iphone
		position absolute
		width 50px
		top 90px
		right 200px
	&-ipad
		top 10px
		left 182px
		position absolute
		width 45%
.Design .container-fluid .row
	padding 1em 5em
.Footer
	&-article
		width 109%
		text-align center
		padding 1.5em
		height 80px
		background-color #3A3B44
		width 100%
	&-copyright
		margin-left 1em
		margin-top .8em
		float left
		font-size 0.5em
		color white
	&-icons
		margin-right 0
		display inline-block
		float right
		& a
			color white	
.Planes
	margin-top 52px
	&-title
		text-align center
	&-text
		text-align center
	&-titulos
		text-align center
		margin-bottom 1em
	&-lista
		padding 0 0 0 .5em
		list-style none
	&-lista li
		padding-bottom 1.5em
	&-lista li span
		font-size 2em
.padding-left
	padding-left 3em
.alto-linea
	padding-left .5em
	display inline-block
	height 2.5em
	vertical-align middle
// ANIMACION
.animation-start .Design-iphone
	transform:rotateZ(11deg) translate(.8em, 0)
.Design-Containeriphone .Design-iphone
	transition-delay 1s	
	transition 1s ease-out

.animation-start2 .Design-ipad
	transform: translate(4em, 0)
.Design-Containeripad .Design-ipad
	transition-delay 1s	
	transition 1s ease-out
// CENTRADO DE MENU	
@media (min-width 768px)
	.navbar-nav
		float none
		margin 0 auto
		display table
		table-layout fixed
// FIN DE CENTRADO DE MENU

// MODIFICACIONES AL BOOTSTRAP
.nav li
	border-bottom 3px solid white
.navbar
	width 100%
	position fixed
	margin-bottom 0
	z-index 50
	top 0
.nav
	text-align center
.container-fluid
	padding-right 0
	padding-left 0
.Detalles
	list-style none
.Detalles list
	padding-bottom 2em
.Detalles li span
	font-size 2em			
// FIN DE MODIFICACIONES BOOTSTRAP

//TAMAÑO ESCRITORIO

@media screen and (min-width 1100px)
	body
		font-size 16px
	.Portada
		height 500px
		&-frase
			right 50px
			top 320px
			font-size 30px
			font-weight bold
		&-logo
			top 120px
			right 80px
			width 200px
	.Work
		margin-top 20em
		&-article
			padding 0 8em
	.Esp
		&-text
			margin 0 8em
			padding-bottom 1em
		&-article
			padding 2em 8em
		&-logo
			width 100px
	.Design
		padding-top 3em
		padding-bottom 3em
		text-align center
		&-article
			padding 0 8em 8em 8em
		&-iphone
			left -100px
			top 5px
			width 10%
		&-ipad
			top -30px
			left 900px
			width 20%
		&-text
			margin 0 8em
			font-size 1em
			text-align center
	.Planes
		&-text
			margin 2em 10em
	.animation-start .Design-iphone
		transform:rotateZ(11deg) translate(4em, 0)
	.animation-start2 .Design-ipad
		transform: translate(4em, 0)
	.nav li
		
	.Footer
		&-article
			height 110px
		&-copyright
			font-size 1em
			padding-bottom 1em
		&-icons
			font-size 1.5em
	.separador
		border-right 3px solid green
	.webpay
		float right
		margin-right 2em
	.deposito-bancareo
		margin-left 2em
	.pagos
		margin 3em 15em
	.borde-arriba
		border-top 3px solid green
	.ContainerCosto
		text-align center
		margin-bottom 5em

// TAMAÑO TABLET

@media screen and (max-width 1025px)
	.Design
		&-ipad
			width 10%