@import url('http://fonts.googleapis.com/css?family=Satisfy')

body
	font-size 16px
// MENU

.nav li:hover
	border-bottom 2px solid green
	
.navbar-nav > li > a:hover
	color white
.logo
	width 50px

// PORTADA
.Portada
	background #000000
	background url(../img/cover_iMac1.jpg)
	background-size cover
	height 200px
	&-container-logo
		padding 0
	&-frase
		color white
		display inline-block
		font-family 'Satisfy' cursive
		font-size 0.5em
		padding-top 130px
		text-align center
		margin 0
	&-logo
		position absolute
		top 40px
		left 15px
		width 80px
//FIN PORTADA

// WORK
.Work
	margin-top 2em
	&-article
		height 200px
		text-align center
		
// FIN DE WORK	
// CENTRADO DE MENU	
@media (min-width 768px)
	.navbar-nav
		float none
		margin 0 auto
		display table
		table-layout fixed
// FIN DE CENTRADO DE MENU

// MODIFICACIONES AL BOOTSTRAP
.navbar
	margin-bottom 0
.nav
	text-align center
	
// FIN DE MODIFICACIONES BOOTSTRAP

//TAMAÑO TABLETS

@media screen and (min-width 1000px)
	.Portada
		height 500px
		&-frase
			padding-top 10em
			font-size 25px
			font-weight bold
		&-logo
			width 200px