@import url(http://fonts.googleapis.com/css?family=Lobster);

.logo
	width 50px
	
.Portada
	&-img
		width 100%
		filter blur(1.5px)
		
// CENTRADO DE MENU	
@media (min-width 768px)
	.navbar-nav
		float none
		margin 0 auto
		display table
		table-layout fixed
// FIN DE CENTRADO DE MENU

// MODIFICACIONES AL BOOTSTRAP
.navbar
	margin-bottom 0
	
.nav
	text-align center
	
.navbar-default .navbar-nav>li>a:hover
	border-bottom 2px solid #4aa75d
	
.container-fluid
	padding 0

// FIN DE MODIFICACIONES BOOTSTRAP